*{
    padding: 0px;
    margin: 0px;
    color: white;
}
.contenedorG{
    width: 100%;
    display: block;
    background-image: url(fondo.jpg);
}
/*menu*/
a{
    text-decoration: none;
    color: white;
}
.menu{
    width: auto;
    height: 50px;
    padding: 0px;
    background: red;
}
.listamenu{
    display: flex ;
}
.lista{
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
    font-size: 20px;
    font-family: consolas;
}
.lista:hover{
    background: rgb(238, 84, 84);
}
/*titulo*/
#titulo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    font-family: Roboto,sans-serif,Arial,Helvetica;
    letter-spacing: 5px;
}
.imgpais{
    width: 25px;
}
.contenedorLC{
    width: 100%;
}
.hr1{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-color: rgb(255, 255, 255);
    margin-top: 30px;
    margin-bottom: 30px;
}
/*liga*/
h1{
    width: auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: monospace;
}
/*ligas y copas*/
.contl{
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(19, 88, 19);
    text-align: center;
}
.TituloL{
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgL{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 250px; 
    height: 200px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
}
.imgL2{
    object-position: 100%;
}
.hr2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: rgb(255, 255, 255);
    margin-top: 15px;
    margin-bottom: 15px;
}
/* clubles*/
.clubes2{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(19, 88, 19);
    display: flex;
    justify-content: space-around;
}
.club{
    width: 300px;
}
.pc{
    margin: 10px;
    font-size: 25px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imgclub{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}
h1{
    letter-spacing: 1px;
    color: black;
    font-family: Roboto,sans-serif,Arial,Helvetica;
}
.info{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background:  rgb(19, 88, 19);
}
b{
    font-size: 20px;
    color: black;
}
p{
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    margin: 5px;
    font-size: 20px;
    color: black;
}
.tabla{
    width: 100%;
    border: 3px solid black;
    text-align: center;
}
.th{
    font-size: 25px;
    color: rgb(216, 230, 14);
    padding: 10px;
}
td{
    border: 2px solid black;
    font-size: 20px;
}
table,td,th{
    border-collapse: collapse;
    padding: 5px;
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-family: "Euclid Circular A";
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4px;
  padding: 0;
  height: 100%;
  opacity: 0.6;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}

h2 {
  margin: 16px 0 10px;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

@media (width >= 500px) {
  h2 {
    font-size: 14px;
  }
}

.navbar,
.burger,
.dropdowns {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  background: #c61414;
  color: #f9f9f9;
  box-shadow: 0 8px 12px rgb(0 0 0 / 20%);
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}

button > img {
  display: none;
}

@media (width >= 500px) {
  .dropdown > button {
    padding: 0 10px 0 24px;
  }

  button > img {
    display: block;
  }
}

@media (width >= 500px) {
  .dropdown:hover button {
    opacity: 1;
  }
}

.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 50px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
    padding-left: 0;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
    align-items: center;
  }

  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    gap: 32px;
    padding: 6px 24px 20px;
    margin-bottom: 0;
    justify-content: flex-start;
    background: #c61414;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
  }

  .dropdown:hover {
    background: #c61414;
  }

  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}

.dropdown-menu button {
  display: block;
  width: 100%;
  color: #f9f9f9;
  opacity: 1;
  height: 40px;
  text-align: left;
  white-space: nowrap;
}

@media (width >= 500px) {
  .dropdown-menu button {
    opacity: 0.6;
  }

  .dropdown:hover .button {
    opacity: 1;
  }
}

.dropdown-menu button:hover {
  opacity: 1;
}